@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('G:\C#\Phase-4-Project-Wipro-main\wipro-velocity-phase-4-project-main\JOE's Pizza\PizzaHub\pizza_bg.jpg')" class="text-center">
    
    <h2  class="display-4">JOE's PIZZA HUB </h2>
    <img src="~/media/products/Chicken Delight.jpg" style="border: 3px solid black;" />
    <marquee direction="right" behavior="alternate"  width="100%" height="100px"><h3><br>Spicy pizza Order now<br></h3></marquee> 
   
</div>
